<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyHistory</title>
    <link rel="stylesheet" href="./static/css/index.css" />
</head>

<body>
    <h1>Приложение-блог</h1>
    <hr color="black" />
    <div class="container">
        <div class="block">
            <ul>
                <img src="./static/img/imgS.jpg" alt="Моё фото" width="300" />
                <li>ФИО: Бачериков Денис Андреевич</li>
                <li>Дата рождения: 10 09 1997</li>
                <li>
                    Среднее специальное образование Специальность: техник по ремонту и
                    обслуживанию автомобилей
                </li>
                <li>
                    Дополнительное образование: Программирование и эксплуатация станков
                    с ЧПУ FANUC
                </li>
            </ul>
        </div>
        <div class="divider"></div>
        <div class="about_me">
            <h2 class="heading_about_me">О себе</h2>
            <p>
                Я Бачериков Денис Андреевич, родился 10 сентября в 1997 году. Закончил
                Павинскую школу 9 классов. После поступил в
                <a href="https://katt44.ru/index.php?option=com_content&view=featured&Itemid=128"
                    target="_blank">Костромской Автотранспортный Колледж</a>
                по специальности техник по ремонту и обслуживанию автомобильного
                транспорта. Так же прошел курсы программирование и эксплуатация
                станков с ЧПУ FANUC в
                <a href="https://cto.stanki.ru/ " target="_blank">ЦТОkami</a>. После которых работал на предприятиях: <a
                    href="http://enarme.ru/ " target="_blank">АО «ЭНАРМИ»</a> и <a
                    href="https://www.uecrus.com/about/structure/ao-mmp-imeni-v-v-chernysheva/" target="_blank">АО «ММП
                    имени В.В. Чернышева»</a>. На данный момент прохожу курсы по программированию на Python в <a
                    href="https://synergy.ru/" target="_blank">Синергии</a>.
            </p>
        </div>
    </div>
    <table b>
        <tr>
            <td>Основы языка программирования Python</td>
            <td>Система контроля версий Git</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>73</td>
            <td>62</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>70</td>
            <td>75</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>В этой теме изуены основы Python</td>
            <td>В этой теме изучены основы Git </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</body>

</html>